<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2 class="text-center">Sign up</h2>
      <hr>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="row">
            <div class="col-xs-6">
              <%= f.input :first_name, label: "Nombre", autofocus: true%>
            </div>
            <div class="col-xs-6">
              <%= f.input :last_name, label: "Apellido(s)", autofocus: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= f.input :email, label:"E-mail" %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= f.input :phone, label: "Teléfono Móvil", hint: "Solo te contactaremos en caso de que sea estrictamente imprescindible"%>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <%= f.input :password, label: "Contraseña", hint: ("#{@minimum_password_length} carácteres como mínimo" if @minimum_password_length) %>
            </div>
            <div class="col-xs-6">
              <%= f.input :password_confirmation, label:"Confirma la contraseña" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= f.button :submit, "Sign up",  class: "btn btn-treehouse btn-lg", style:"
                width: 100%; margin-top: 20px;" %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-xs-12">
          <p style="width: 100%; margin-top: 5px;">¿Ya tienes una cuenta? Haz <%= render "devise/shared/links" %></p>
        </div>
      </div>

    </div>
  </div>
</div>
