
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2 class= "text-center">Restaurante</h2>
      <hr>
      <%= simple_form_for [@restaurant] do |f| %>
        <div class="row">
          <div class="col-xs-12">
            <%= f.input :name, label: 'Nombre' %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= f.input :address, label: 'Dirección', placeholder: "Paseo de la Habana 74, 28036, Madird, España" %>
            <%= f.input :phone, label: 'Teléfono', placeholder: "91234567" %>
          </div>
        </div>
        <%= f.input :photo, label: 'Añade la mejor foto del restaurante', hint: "Está será la primera foto que verán tus clientes" %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Reservar", class: "btn btn-treehouse btn-lg", style:"
                width: 100%; margin-top: 20px;"%>
      <% end %>
    </div>
  </div>
</div>
